{{# include "./Header.html" #}}
{{# include "./BasePage.html" #}}
{{# include "./gen.CaseStudyPage.html" #}}
{{# include "./CommonPageHeader.html" #}}

{{ define "ExtraHeadSection" }}
    <title>{{.Notation.Name}}</title>
    <meta property="og:title" content="{{.Notation.Name}}" />
    <meta property="og:description" content="{{.Notation.Description}}" }} />
{{ end }}

{{ define "BodySection" }}
<input type=hidden id="caseStudyId" value="{{.Id}}" />
<main class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
<div id = "outlinePanel">
  Table of contents here
</div>
<div id = "contentPanel overflow-auto pl-12 bg-white dark:bg-gray-300">
<article class="prose dark:prose-invert text-gray-800 dark:text-gray-300">
  {{ .Contents | HTML }}
</article>
</div>
<div id = "notesPanel"></div>
</main>
{{ end }}

{{ define "PostBodySection" }}
  {{ template "gen.CaseStudyPage.html" }}
{{ end }}

{{ define "CaseStudyPage" }}
{{ template "BasePage" . }}
{{ end }}

