{{# include "./Header.html" #}}
{{# include "./OldBasePage.html" #}}
{{# include "./gen.CaseStudyPage.html" #}}
{{# include "./CommonPageHeader.html" #}}
{{# include "./ScrollTopAndComment.html" #}}

{{ define "ExtraHeadSection" }}
    <title>{{.Title}}</title>
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{.Summary}}" }} />
    <style>
    main {
        display: flex;
        flex-direction: row;
    }

    .gutter {
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: col-resize;
    }
    </style>
{{ end }}

{{ define "FooterBody" }}<hr/>{{ end }} 

{{ define "HeaderCenterSection" }}<h1 class="text-3xl font-semibold">{{ .FrontMatter.title }}</h1>{{ end }} 

{{ define "BodySection" }}
<input type=hidden id="caseStudyId" value="{{.Id}}" />
<main class="w-full flex-grow overflow-y-auto" tabindex="0">
  {{ template "ScrollTopAndComment" }}
  <div id = "outlinePanel" class="p-4 overflow-auto" style="width: calc(15% - 5px);">Table of contents here</div>
  <div id = "contentPanel" class="overflow-auto pl-12" style="width: calc(70% - 10px);">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
    <div class="divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:divide-y-0 " style="gridTemplateRows: 'auto 1fr'">
    <div class="divide-y divide-gray-200 dark:divide-gray-700 xl:col-span-3 xl:row-span-2 xl:pb-0">
    <article class="prose max-w-none pb-8 pt-10 dark:prose-dark">
      {{ .Content | HTML }}
    </article>
    {{ template "Footer" . }}
    </div>
    </div>
    </div>
  </div>
  <div id = "notesPanel" class="p-4 overflow-auto"></div>
</main>
{{ end }}

{{ define "PostBodySection" }}
  {{ template "gen.CaseStudyPage.html" }}
{{ end }}

{{ define "CaseStudyPage" }}
{{ template "BasePage" . }}
{{ end }}

