{{ define "DrawingView" -}}
<div style='display: flex; width: {{ or .width "100%" }}; height: {{ or .height "800px" }}; border: solid 0px red'
      class="drawingContainer" caseStudyId="{{.caseStudyId}}" drawingId="{{.id}}">
<div class="systemDrawing" style='width: 100%; height: 100%' caseStudyId="{{.caseStudyId}}" drawingId="{{.id}}">
<pre><code>{{ DrawingData .id }}</code></pre>
</div>
{{ if not .HideToolBar }}
<div class="drawingToolbar">
  <button class="toolbarButton"><img class="toolbarButtonImage saveButton" src="/static/images/save.svg"/>Save</button>
  <button class="toolbarButton"><img class="toolbarButtonImage reloadButton" src="/static/images/reset.svg" />Reload</button>
</div>
{{ end }}
</div>
{{ end }}
