<!-- // Direct from goldenlayout.com
  <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
<link
  type="text/css"
  rel="stylesheet"
  href="https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css"
/>
-->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/golden-layout/2.6.0/css/goldenlayout-base.min.css"
  integrity="sha512-T8z7/CSmvvagxLaOlftUvILd1HfW7z1pAgATydu7K8Oav7y3BiH9iTS+uaMhzUJ6iajr6/CN5Gk3EFIcVD+30w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/golden-layout/2.6.0/css/themes/goldenlayout-light-theme.min.css"
  integrity="sha512-VTOoyGAMP7Y00c8SXLgunlQbtV3JuTLn8Qm1VKcdU/RrQi5gERDML74+7Z14tt2I/OuKrckYyPMF8pxjzfzQfA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

{{ if .includeGoldenLayoutJSFiles }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/golden-layout/2.6.0/cjs/ts/golden-layout.min.js"
  integrity="sha512-XVvMbhbm8uYJb/disI18hQql4uYDS0tPfRwQPCCILW4pqzIf2UpeGv16B9YVac8S3ZwC9Obzpa/JCpQ1uo4+jg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{{ end }}
