<!-- templates/HomePage.html -->
{{# include "BasePage.html" #}}
{{# include "DesignList.html" #}}

{{ define "BodySection" }}
  <!-- Main Content Area -->
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <!-- Design List Block -->
      <!-- The server renders the initial content of DesignList here -->
      <div id="document-list-container">
           {{ template "DesignList" .DesignListView }}
      </div>
  </main>
{{ end }}

{{ define "PostBodySection" }}
{{# include "gen.HomePage.html" #}}
{{ end }}

{{ define "HomePage" }}
{{ template "BasePage" . }}
{{ end }}

